body {
    margin: 0;
    font-family: digitos;
    background-color: #1B244A;
}

@font-face {
  font-family: "digitos";
  src: url('digito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40px;
}

.display {
    display: flex;
    background-color: black;
    width: 155px; 
    height: 120px;
    color: #F94F6D;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}

.head {
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700px;
    color: #eeeeee;
}

.btn-puntos {
    width: 45px;
    height: 45px;
    font-family: digitos;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

.container-btn {
    display: flex;
    justify-content: space-between;
    width: 155px;
    margin-top: 26px;
    
}

#cont-down {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time-container {
    background-color: black;
    width: 155px; 
    height: 40px;
    margin: 0 auto 10px auto;
    margin-bottom: 20px;
    color: #F94F6D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

#time-text {
    color: #eeeeee;
    font-size: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 6px;
}

#btn-reset {
    width: 80px;
    font-size: 20px;
}